.footer {
	padding: 5rem 0 0;
	text-align: center;
	background-color: $black;
	color: $white;
}

.main_logo {
	.footer & {
		margin-bottom: 2rem;
	}
}

.primary_logo {
	.footer & {
		width: 165px;
		margin: 0 auto;

		svg {
			fill: $white;
		}
	}
}

.social_nav ul {
	.footer & {
		justify-content: center;
		margin-bottom: 4rem;

		a > svg {
			fill: $dk-gray;
		}
	}
}

.footer_nav {
	.footer & {
		display: block;
		padding: 1rem;
		border-top: 1px solid $link-gray;
		border-bottom: none;

		@media (max-width: 960px) {
			ul {
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.nav_link {
	.footer & {
		display: block;
		padding: 0.7rem;
		margin: 0.3rem;
		color: $dk-gray;

		&:hover,
		&:active,
		&:focus {
			text-decoration-color: $white;
		}
	}
}
