.form {
	position: relative;

	&.form_search {
		font-family: "Gelasio", serif;
		font-size: 3rem;
		width: 75rem;
		max-width: 100%;
		margin: 0 1rem;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="url"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="color"],
textarea,
select {
	.form & {
		width: 100%;
		background-color: $white;
		border: 1px solid $dk-gray;
		padding: 1rem;
		margin-bottom: 1rem;
	}
}

input[type="color"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="range"] {
	.form & {
		display: block;
		width: 100px;
		padding: 0;
		margin-bottom: 1rem;
	}
}

input[type="checkbox"],
input[type="radio"] {
	.form & {
		margin-bottom: 1rem;
	}
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	.form & {
		display: block;
		width: auto;
		padding: 1rem;
		margin-bottom: 1rem;
		background-color: transparent;
		border: 2px solid $black;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $black;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		&:hover,
		&:active,
		&:focus {
			background-color: $black;
			color: $white;
		}
	}
}

.select {
	.form & {
		position: relative;

		select {
			margin-bottom: 0;
		}

		svg {
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 50%;
			right: 4px;
			transform: translateY(-50%);
			background-color: $white;
			pointer-events: none;
		}
	}
}

textarea {
	.form & {
		height: 250px;
	}
}

.half_width {
	.form & {
		width: 49%;
	}
}

.subscribe {
	.form & {
		width: 100%;
		padding: 1rem;
		background-color: $gray;
		border: 1px solid $gray;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $black;
		cursor: pointer;
		transition: all 300ms ease-in-out;

		&:hover,
		&:active,
		&:focus {
			background-color: $black;
			border-color: $black;
			color: $white;
		}
	}
}

// Search Drawer Form Styles
input[type="search"] {
	.form_search & {
		width: 100%;
		padding: 1rem;
		border: none;
		border-bottom: 1px solid $gray;
		text-align: center;

		&::placeholder {
			color: $black;
		}
	}
}

.submit_button {
	.form_search & {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		svg {
			width: 40px;
			height: 40px;
		}
	}
}
