.header {
	display: block;
	background-color: $white;
	overflow: visible;

	@media (max-width: 960px) {
		display: flex;
		justify-content: center;
		align-items: center;
		position: sticky;
		inset: 0;
		width: 100%;
		height: 100px;
		box-shadow: 0 1px 1px 2px rgba($color: $black, $alpha: 0.1);
		z-index: 4;
	}
}

.top_header {
	.header & {
		@include flex-container;
		flex-flow: row nowrap;
		align-items: center;
		padding: 3rem;

		@media (max-width: 960px) {
			width: 100%;
			padding: 0 1rem;
		}
	}
}

.top_left,
.top_right {
	.header & {
		width: 33.333%;

		@media (max-width: 960px) {
			width: auto;
		}
	}
}

.top_left {
	.header & {
		display: flex;
		justify-content: flex-start;

		@media (max-width: 960px) {
			display: none;
		}
	}
}

.main_logo {
	.header & {
		width: 225px;
		max-width: 100%;
		text-align: center;
	}
}

.top_right {
	.header & {
		display: flex;
		justify-content: flex-end;
	}
}

.primary_logo {
	.header & {
		position: relative;
		font-family: "Gelasio", serif;
		font-size: 4rem;
		font-weight: 400;
		font-style: normal;
		line-height: 0;
		margin: 0;

		@media (max-width: 560px) {
			font-size: 14vw;
		}
	}
}

.logo_link {
	.header & {
		display: block;
		color: $black;
		text-decoration: none;

		svg {
			display: block;
			height: auto;
		}
	}
}
