.blog_layout {
	@include flex-item(65%);

	@media (max-width: 960px) {
		@include flex-item(100%);
		padding: 1rem;
	}
}

.blog_item {
	.blog_layout & {
		margin-bottom: 3rem;

		@media (max-width: 960px) {
			margin-bottom: 0;
		}
	}
}

.half_width .blog_links {
	.blog_layout & {
		border: none;
		justify-content: center;

		.social_nav {
			background-color: $white;
		}

		&::after {
			content: "";
			position: relative;
			inset: 0;
			display: block;
			width: 100%;
			height: 0;
			border-bottom: 2px dashed $gray;
			transform: translateY(-25px);
			z-index: -1;
		}
	}
}

.image_only {
	.blog_layout & {
		position: relative;
		margin: 0 0 5rem;

		@media (max-width: 960px) {
			margin: 1rem 0 5rem;
		}

		.image {
			margin: 0;
		}

		.secondary_heading {
			position: absolute;
			bottom: -65px;
			left: 50%;
			width: 90%;
			max-width: 40ch;
			margin: 0;
			padding: 3rem;
			transform: translateX(-50%);
			font-size: 1.5rem;
			background-color: $white;
			z-index: 1;

			@media (max-width: 960px) {
				padding: 1.5rem;
				font-size: 1.25rem;
			}

			&::after {
				content: "";
				display: none;
				border: none;
			}
		}
	}
}

.blog_links {
	.blog_layout & {
		@include flex-container;
		align-items: center;
		margin-top: 2rem;
		padding: 1rem 0;
		border-top: 1px solid $gray;
		border-bottom: 1px solid $gray;

		@media (max-width: 960px) {
			flex-flow: column wrap;
			align-items: center;
			text-align: center;

			.blog_comment_count,
			.blog_tagged_items,
			.blog_right {
				@include flex-item(100%);
				margin: 0.5rem;

				ul {
					justify-content: center;
				}
			}
		}
	}
}

.blog_comment_count {
	.blog_layout & {
		@include flex-item(25%);
		margin: 0;
	}
}

.blog_tagged_items {
	.blog_layout & {
		@include flex-item(40%);
		margin: 0;
	}
}

.nav_tags,
.tags {
	.blog_layout & {
		display: inline-block;
	}
}

.nav_tags ul {
	.blog_layout & {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			display: inline-block;
		}
	}
}

.blog_right {
	.blog_layout & {
		@include flex-item(35%);
		margin: 0;

		ul {
			flex-flow: row nowrap;
		}
	}
}

.blog_category {
	.blog_layout & {
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
		color: $links;
	}
}

.secondary_heading {
	.blog_layout & {
		font-family: "Gelasio", serif;
		font-size: 2rem;
		text-align: center;

		&::after {
			content: "";
			display: block;
			width: 50px;
			height: 0;
			margin: 2rem auto;
			border-bottom: 2px solid #ccc;
		}
	}
}

.blog_date {
	.blog_layout & {
		display: block;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
		color: #555;
	}
}

.image {
	.blog_layout & {
		position: relative;
		width: 100%;
		height: auto;
		margin: 2rem 0 1rem;
		aspect-ratio: 1.5/1;

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}

.read_more {
	.blog_layout & {
		text-align: center;

		a {
			font-family: "Gelasio", serif;
			font-style: italic;
			text-decoration: none;

			&:hover > svg,
			&:active > svg,
			&:focus > svg {
				transform: translateX(8px);
			}
		}
	}
}

svg {
	.blog_layout & {
		display: inline-block;
		vertical-align: middle;
		stroke: $links;
		width: 20px;
		height: 20px;
		transform: translateX(0);
		transition: transform 300ms ease-in-out;
	}
}
