.masonry .main_wrap {
	align-items: stretch;
	max-width: 100%;
	padding: 3rem;

	@media (max-width: 1024px) {
		padding: 0;
	}
}

.featured,
.masonry-container {
	@include flex-item(49.5%);

	@media (max-width: 1024px) {
		@include flex-item(100%);
		padding: 1rem;
	}
}

.featured {
	position: relative;

	.blog_item {
		position: sticky;
		top: 2rem;
	}
}

.masonry-container {
	columns: 3 auto;

	.half_width {
		width: 95%;
		margin-left: auto;
		break-inside: avoid;
	}

	.secondary_heading {
		font-size: 1.25rem;
	}

	@media (max-width: 1980px) {
		columns: 2 auto;
	}

	@media (max-width: 1024px) {
		.half_width {
			width: 100%;
		}

		.secondary_heading {
			font-size: 1.1rem;
		}
	}

	@media (max-width: 960px) {
		.half_width {
			margin-bottom: 2rem;
		}
	}

	.image {
		margin: 0 0 1rem;
		aspect-ratio: auto;

		img {
			position: static;
		}
	}
}
