.main_wrap {
	.masonry & {
		align-items: stretch;
		max-width: 100%;
		padding: 3rem;

		@media (max-width: 1024px) {
			padding: 0;
		}
	}
}

.featured,
.masonry-container {
	.masonry & {
		@include flex-item(49.5%);

		@media (max-width: 1024px) {
			@include flex-item(100%);
			padding: 1rem;
		}
	}
}

.featured {
	.masonry & {
		position: relative;

		.blog_item {
			position: sticky;
			top: 2rem;
		}
	}
}

.masonry-container {
	.masonry & {
		columns: 3 auto;

		@media (max-width: 1980px) {
			columns: 2 auto;
		}
	}
}

.image {
	.masonry & {
		margin: 0 0 1rem;
		aspect-ratio: auto;

		img {
			position: static;
		}
	}
}

.half_width {
	.masonry & {
		width: 95%;
		margin-left: auto;
		break-inside: avoid;

		@media (max-width: 1024px) {
			width: 100%;
		}

		@media (max-width: 960px) {
			margin-bottom: 2rem;
		}
	}
}

.secondary_heading {
	.masonry & {
		font-size: 1.25rem;

		@media (max-width: 1024px) {
			font-size: 1.1rem;
		}
	}
}
