.main_nav {
	display: block;
	padding: 2rem 0;
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;

	@media (max-width: 960px) {
		display: none;
	}
}

.nav_container {
	.main_nav & {
		@include flex-container;
		max-width: 50rem;
		margin: 0 auto;
		padding: 0;
		list-style-type: none;
	}
}

.nav_link {
	.main_nav & {
		font-family: "Gelasio", serif;
		color: $black;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-decoration-color: transparent;
		transition: all 300ms ease-in-out;

		&:hover,
		&:active,
		&:focus {
			color: $links;
			text-decoration-color: $links;
		}
	}
}

.mobile_off_canvas {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	top: 0;
	right: -320px;
	overflow-y: scroll;
	max-width: 320px;
	height: 100%;
	padding: 1rem;
	background-color: $white;
	box-shadow: none;
	visibility: hidden; /* Prevent interactions */
	transition: right 300ms ease-in-out, visibility 300ms ease-in-out;
	z-index: 2;

	@media (max-width: 960px) {
		&.active {
			right: 0;
			visibility: visible; /* Prevent interactions */
			box-shadow: -1px 0 2px 1px rgba($color: $black, $alpha: 0.1);
		}
	}
}

.mobile_nav {
	.mobile_off_canvas & {
		margin-top: 3rem;
	}
}

.nav_container {
	.mobile_off_canvas & {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}

.nav_item {
	.mobile_off_canvas & {
		display: block;
		text-align: center;
		margin: 0.5rem 0;
	}
}

.nav_link {
	.mobile_off_canvas & {
		display: block;
		font-family: "Gelasio", serif;
		text-decoration-color: transparent;
		padding: 1rem;
		color: $black;
		transition: all 300ms ease-in-out;

		&:hover,
		&:active,
		&:focus {
			text-decoration-color: $links;
			color: $links;
		}
	}
}

.image {
	.mobile_off_canvas & {
		position: relative;
		width: 90%;
		height: auto;
		margin: 0 auto;
		aspect-ratio: 16 / 9;

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.secondary_heading {
	.mobile_off_canvas & {
		font-family: "Gelasio", serif;
		text-align: center;
	}
}

.blog_description {
	.mobile_off_canvas & {
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}
}

.button_line {
	.button_menu & {
		width: 25px;
		height: 0;
		border-bottom: 2px solid $black;
		margin-bottom: 6.3334px;
		transform: rotateZ(0) translate(0, 0);
		transition: transform 350ms ease;
	}
}

.button_menu {
	display: none;
	position: relative;
	z-index: 3;

	@media (max-width: 960px) {
		display: inline-block;
		vertical-align: sub;
	}

	&:active > .button_line,
	&.active > .button_line {
		&:nth-of-type(1) {
			transform: rotateZ(45deg) translate(6px, 5.667px);
		}

		&:nth-of-type(2) {
			width: 0;
		}

		&:nth-of-type(3) {
			transform: rotateZ(-45deg) translate(6px, -5.667px);
		}
	}
}
