.sidebar_layout {
	@include flex-item(30%);

	@media (max-width: 960px) {
		@include flex-item(100%);
		padding: 1rem;
	}
}

.sidebar_item {
	margin-bottom: 2rem;
	padding: 2rem;
	border: 1px solid $dk-gray;

	.tertiary_heading {
		display: inline-block;
		font-family: "Gelasio", serif;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 0 1rem;
		margin-top: 0;
		margin-left: 50%;
		transform: translateX(-50%);
		background-color: $white;
		white-space: nowrap;
		color: $link-gray;
	}

	.dashed_border {
		position: relative;
		top: -30px;
		width: 100%;
		border-top: 2px dashed $dk-gray;
		z-index: -1;
	}

	.image {
		position: relative;
		height: auto;
		aspect-ratio: 16/9;

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&.latest_posts {
		.sidebar_blog_item {
			margin: 0 0 1rem;
		}

		.image {
			position: relative;
			@include flex-item(35%);
			aspect-ratio: 4/3;
			height: auto;

			img {
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.sidebar_blog_copy {
			@include flex-item(60%);
		}

		.sidebar_blog_title {
			margin: 0 0 0.5rem;
			line-height: 1.333;
		}

		.sidebar_blog_category {
			font-size: 0.9rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $link-gray;
		}
	}

	&.instagram_grid {
		text-align: center;

		a {
			text-decoration: none;
		}

		.image {
			position: relative;
			height: auto;
			margin-bottom: 4%;
			aspect-ratio: 1/1;

			img {
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&.dropdown {
		height: 176.74px;

		.dropdown-button {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 1rem;
			background-color: $white;
			border: 1px solid $gray;
			text-align: left;
			line-height: 1;
			color: $black;
			cursor: pointer;

			span {
				font-size: 2rem;
				transform: rotate(90deg);
			}
		}

		.dropdown-menu {
			display: none;
			margin: 0;
			padding: 0;
			list-style-type: none;
			border-left: 1px solid $gray;
			border-right: 1px solid $gray;
			border-bottom: 1px solid $gray;
			box-shadow: 1px 1px 0 0 rgba($color: $black, $alpha: 0.1);

			li a {
				display: block;
				text-decoration: none;
				color: $black;
				padding: 0.75rem 1.25rem;
				background-color: $white;
				transition: all 300ms ease-in-out;

				&:hover,
				&:active,
				&:focus {
					background-color: $link-gray;
					color: $white;
				}
			}

			&.active {
				display: block;
			}
		}
	}
}
