html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "Cabin", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.65;
	color: $black;

	&.active {
		overflow: hidden;
	}
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-underline-offset: 5px;
	text-decoration-thickness: 3px;
	text-decoration-color: inherit;
	color: $links;
	transition: text-decoration-color 300ms ease-in-out;

	&:hover,
	&:active,
	&:focus {
		text-decoration-color: transparent;
	}
}

.access-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.main_wrap {
	@include flex-container;
	max-width: 75rem;
	margin: 0 auto;
	padding: 3rem 0.5rem;

	@media (max-width: 960px) {
		padding: 1rem 0 0;
	}
}

.button_icon {
	display: inline-block;
	padding: 11.5px; // makes the icon tap target 48px x 48px for a11y
	border: none;
	background: none;
	cursor: pointer;

	svg {
		display: block;
		width: 25px;
		height: 25px;
		stroke: $black;
	}
}
